<%= render 'settings/profile_bar' %>
<div class="row">
  <div class="span8">
    <% if @services.present? -%>
      <div class="page-header">
        <h3>接続されているサービス</h3>
      </div>
      <div class="well">
        <% @services.each do |service| -%>
          <%= image_tag "#{service.provider}_32.png" %>
          <%= service.uid %> - 
          <%= link_to "#{service.provider}との連携をやめる", service , :confirm => '本当に連携をやめますか?', :method => :delete %><br />
        <% end -%>
      </div>
    <% end -%>
    <div class="page-header">
      <h3>サービスを連携する</h3>
    </div>
    <%= render :partial => "service_links" %>
  </div>
  <div class="span4">
    <h2>外部サービスの接続</h2>
    <p>あなたのアカウントと外部のサービスを連携させることができます。<br />これにより、外部のアカウントで簡単にログインできるようになったり、外部アカウントのプロフィール画像を利用できるようになります。</p>
  </div>
</div>

