<%= form_for @feed, html: {class: "form-horizontal"} do |f| %>
  <% if @feed.errors.any? %>
    <div class="alert alert-block alert-error fade in">
      <h3><%= "#{@feed.errors.count}つのエラーのため保存できませんでした" %></h3>
      <ul>
        <% @feed.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :url, 'RSS Feed', class: "control-label" %>
      <div class="controls">
        <%= f.url_field :url %>
        <p class="help-block">RSS FeedのURLを入力してください。</p>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "登録", class: "btn btn-primary", name: "commit" %>
    </div>
  </fieldset>
<% end %>
