<%= render 'works/profile_bar' %>
<div class="row">
  <div class="span12">
    <%= render 'form' %>
    <% unless @feeds.empty? -%>
      <table class="zebra-striped">
        <tr>
          <td>タイトル</td>
          <td>RSS フィードURL</td>
          <td>操作</td>
        </tr>
        <% @feeds.each do |feed| %>
          <tr>
            <td><%= feed.title %></td>
            <td><%= link_to feed.url, feed.url %></td>
            <td><%= link_to '削除', feed, confirm: '本当に削除しますか?', method: :delete %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <br />
  </div>
  <div class="span4">
    <h2>RSS登録</h2>
    <p>RSSのFeedを登録しておくことで、自動的にあなたの作品を登録することができます。<br />自動的に登録された作品は自由に編集することが可能です。<br />自動更新は一日一回行われます。</p>
  </div>
</div>
