<h2>アカウント情報変更</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, 'メールアドレス' %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, 'パスワード変更' %> <i>(変更しない場合は空欄のままにしておいてください)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, 'パスワード変更確認' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, '現在のパスワード' %> <i>(ユーザ情報を変更するためには、現在のパスワードが必要です)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "更新" %></div>
<% end %>

<h3>退会</h3>

<p><%= link_to "このアカウントを削除する", registration_path(resource_name), :confirm => "本当に退会してよろしいですか?", :method => :delete %>.</p>

<%= link_to "戻る", :back %>
