<div class="row">
  <div class="span8">
    <% if @keyword.present? %>
      <p>
      <strong>Keyword: </strong><span class="label"><%= @keyword %></span>
      <strong>Results: </strong><span class="badge"><%= @articles.count %></span>
      </p>
      <hr />
    <% end %>
    <% if @articles.present? %>
      <%= render @articles %>
      <%= will_paginate @articles %>
    <% else %>
      <p>キーワードを含む記事はありません</p>
    <% end %>
  </div>
  <div class="span4">
    <div class="well">
      <p>アートに関係する話題や、アーティストに役立つ情報などをMuseumCreated.comで独自にピックアップしています</p>
    </div>
    <%= render 'shared/twitter_widget' %>
    <%= render 'shared/ad_side' if Rails.env.production? %>
  </div>
</div>
