<script type="text/javascript">
    $(document).ready(function() {
        $("#mytags").tagit({
          availableTags: <%= Work.tag_counts.map(&:name).to_json.html_safe %> ,
          singleField: true,
          singleFieldNode: $('#tag_list')
          });
    });
</script>
<%= form_for @work, html: {class: "form-horizontal"} do |f| %>
  <% if @work.errors.any? %>
    <div class="alert alert-block alert-error fade in">
      <h3><%= "#{@work.errors.count}つのエラーのため保存できませんでした" %></h3>
      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :title, 'タイトル', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title, class: "input-xlarge" %>
        <p class="help-block">作品のタイトルを入力してください</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :url, 'URL', class: "control-label" %>
      <div class="controls">
        <%= f.url_field :url, class: "input-xlarge" %>
        <p class="help-block">作品のURLを入力してください</>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tag_list, 'タグ', class: "control-label" %>
      <div class="controls">
        <ul id="mytags"></ul>
        <p class="help-block">作品に関する情報を入力してください</p>
      </div>
    </div>
    <%= f.hidden_field :tag_list, id: "tag_list" %>
    <div class="control-group">
      <%= f.label :summary, '概要紹介', class: "control-label" %>
      <div class="controls">
        <%= f.text_area :summary, class: "input-xxlarge", rows: "2" %>
        <p class="help-block">作品の概要紹介をしてください。これは作品一覧の紹介文として表示されます。</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, '作品詳細', class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description, class: "input-xlarge", rows: "20", id: "ckeditor" %>
        <script type="text/javascript">
          $(function() {
            CKEDITOR.config.toolbar = [
              ,['FontSize'],['TextColor','BGColor'],['Bold','Italic','Underline','Strike']
              ,['NumberedList','BulletedList','-','Outdent','Indent','Blockquote']
              ,['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],'/'
              ,['Link','Unlink']
              ,['Image','HorizontalRule','Smiley'],['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat']
              ,['Source','-','ShowBlocks','Preview']
            ];
            CKEDITOR.config.language = 'ja';
            CKEDITOR.config.width  = '530px';
            CKEDITOR.config.height = '300px';
            CKEDITOR.config.resize_enabled = false;
            CKEDITOR.replace('ckeditor');
          });
        </script>
        <p class="help-block">1000文字以内で作品を紹介してください。</p>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "登録", :class => "btn btn-primary", :name => "commit" %>
    </div>
  </fieldset>
<% end %>
