<% @title = "Works" -%>
<div class="page-header", style="margin-top: 10px">
  <% if params[:username].present? -%>
    <h2><%= gravatar_image_tag(User.find_by_username(params[:username]).email,:width => "30",:alt => params[:username]) %> <%= link_to params[:username], path_to_artist(params[:username]) %><small> の作品一覧</small></h2>
  <% else -%>
    <h2>Works List<small> アーティストが登録した作品一覧です</small></h2>
  <% end -%>
  <%= link_to "新しい作品を登録する", new_work_path if user_signed_in? %>
  <%= link_to "RSSを管理する", feeds_path if user_signed_in? %>
  <%= search_tag(params) %>
</div>
<div class="row">
  <div class="span10 columns">
    <% @works.each do |work| %>
      <h4><%= link_to work.title, work_path(work) %></h4>
      <p>
        <%= link_to work.url, work.url, :target => "_blank" if work.url.present? %><br />
        <% if work.tag_list.present? -%>
          <b>タグ: </b><%= work.tag_list %><br />
        <% end -%>
        <% if work.summary.present? -%>
          <blockquote>
            <p><%= work.summary %></p>
          </blockquote>
        <% end -%>
      </p>
      <p>Created by <%= link_to gravatar_image_tag(work.user.email ,:alt => work.user.username, :width => "20px"), path_to_artist(work.user.username) %> <%= link_to_artist work.user.username %> at <%= work.created_at %>
        <% if user_signed_in? && current_user.id == work.user.id -%>
           | <%= link_to "編集", edit_work_path(work) %> | <%= link_to "削除" ,work_path(work), confirm: '本当に削除しますか？', method: :delete %>
        <% end -%>
      </p>
      <div class="page-header", style="margin-top: 10px">
      </div>
    <% end %>
    <%= paginate @works %>
  </div>
  <div class="span6 columns">
    <h2>タグで絞り込む</h2>
    <div>
      <% tag_cloud(@tags, %w(css1 css2 css3 css4 css5)) do |tag, css_class| %>
        <%= link_to_tagged_works(tag.name,params,css_class) %>
      <% end %>
    </div>
  </div>
</div>
