<% @title = @work.user.username %>
<div class="row", style='margin-top: 10px'>
  <div class="span5 columns">
    <h2><%= @work.user.username %></h2>
    <br>
    <p>
      <%= link_to gravatar_image_tag(@work.user.email,:alt => @work.user.username), path_to_artist(@work.user.username),target:"_blank" %>
    </p>
    <% if user_signed_in? && current_user.id == @work.user.id -%>
      <%= link_to 'プロフィールを編集する', settings_profile_path %><br />
    <% end -%>
    <h3>自己紹介</h3>
    <p><%= Sanitize.clean( @work.user.biography, Sanitize::Config::RELAXED).html_safe %></p>
    <h3>ジャンル</h3>
    <p><%= @work.user.genre.name %></p>
    <% if @work.user.url.present? -%>
      <h3>ホームページ</h3>
      <p><%= link_to @work.user.url, @work.user.url, :target => "_blank" %></p>
    <% end -%>
    <h3>活動地域</h3>
    <% @work.user.areas.each do |tag| -%>
      <%= link_to tag.name, artists_path(:area_tag => tag.name) %>
    <% end -%>
    <h3>できること</h3>
    <% @work.user.skills.each do |tag| -%>
      <%= link_to tag.name, artists_path(:ability_tag => tag.name) %>
    <% end -%>
    <h3>してほしいこと</h3>
    <% @work.user.interests.each do |tag| -%>
      <%= link_to tag.name, artists_path(:interest_tag => tag.name) %>
    <% end -%>
    <h3>フリーワード</h3>
    <% @work.user.free_words.each do |tag| -%>
      <%= link_to tag.name, artists_path(:interest_tag => tag.name) %>
    <% end -%>
    <br />
  </div>
  
  <div class="span11 columns">
    <h2><%= link_to @work.title, work_path %></h2>
    <p>
      <%= link_to @work.url, @work.url,:target => "_blank" if @work.url.present? %><br />
      <% if @work.tag_list.present? -%>
        <b>タグ: </b><%= @work.tag_list %><br />
      <% end -%>
      <% if @work.summary.present? -%>
        <b>作品概要: </b><%= @work.summary %><br />
      <% end -%>
    </p>
    <p>Created at <%= @work.created_at %>
      <% if user_signed_in? && current_user.id == @work.user.id -%>
        | <%= link_to "編集", edit_work_path(@work) %> | <%= link_to "削除" ,work_path(@work), confirm: '本当に削除しますか？', method: :delete %>
      <% end -%>
    </p>
    <div class="page-header", style="margin-top: 10px">
    </div>
    <p><%= Sanitize.clean( @work.description, Sanitize::Config::CUSTOM).html_safe if @work.description.present? %></p>
    <div class="page-header", style="margin-top: 10px">
    </div>
    <b><%= @work.user.username %>の作品を<%= link_to "もっと見る",artist_works_path(:username =>  @work.user.username) %></b>
    
    <h3>Comments</h3>
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="<%= request.url %>" num_posts="2" width="640"></fb:comments>
  </div>
</div> 
