<div class="page-header">
  <h2>パスワードを忘れた方</h2>
</div>
<div class="row">
  <div class="span8">
    <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" } do |f| %>
      <% if resource.errors.any? -%>
        <div class="alert alert-block alert-error fade in">
          <h3><%= "#{resource.errors.count}つのエラーのため実行できませんでした" %></h3>
          <ul>
            <% resource.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
      <fieldset>
        <div class="control-group">
          <%= f.label :email, 'メールアドレス', class: "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "パスワードをリセットするためのメールを送る", class: "btn btn-primary", name: "commit" %>
        </div>
      </fieldset>
    <% end -%>
  </div>
  <div class="span4">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
