<%= render 'settings/profile_bar' %>
<div class="row">
  <div class="span12">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <% if resource.errors.any? -%>
        <div class="alert-message block-message error">
          <h3><%= "#{resource.errors.count}つのエラーのため保存できませんでした。" %></h3>
          <ul>
            <% resource.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
      <fieldset>
        <div class="clearfix">
          <%= f.label :username, 'ユーザ名' %>
          <div class="input">
            <%= f.text_field :username %>
            <span class="help-block">ユーザ名にスペース(空白)は利用できません。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :email, 'メールアドレス' %>
          <div class="input">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password, 'パスワード変更' %>
          <div class="input">
            <%= f.password_field :password %>
            <span class="help-block">変更しない場合は空欄のままにしておいてください</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :password_confirmation, 'パスワード変更確認' %>
          <div class="input">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :current_password, '現在のパスワード' %>
          <div class="input">
            <%= f.password_field :current_password %>
            <span class="help-block">ユーザ情報を変更するためには、現在のパスワードが必要です</span>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "更新", :class => "btn primary", :name => "commit" %>
        </div>
      </fieldset>
    <% end -%>
    <p><%= link_to "このアカウントを削除する", registration_path(resource_name), :confirm => "本当に退会してよろしいですか?", :method => :delete %></p>
  </div>
  <div class="span4">
    <h2>アカウント情報</h2>
    <p>この情報はあなたのログインアカウントに関する情報です。ユーザ名の変更やメールアドレスの変更、パスワードの変更が行えます。</p>
  </div>
</div>

