<div class="page-header">
  <h2>MuseumCreated.comに新規登録する</h2>
</div>
<div class="row">
  <div class="span8">
    <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"} do |f| %>
      <% if resource.errors.any? -%>
        <div class="alert alert-block alert-error fade in">
          <h3><%= "#{resource.errors.count}つのエラーのため保存できませんでした。" %></h3>
          <ul>
            <% resource.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
      <fieldset>
        <div class="control-group">
          <%= f.label :username, 'ユーザ名', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :username %>
            <p class="help-block">ユーザ名にスペース(空白)は利用できません</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :email, 'メールアドレス', class: "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
          </div>
        </div>
        <% if @user.password_required? %>
          <div class="control-group">
            <%= f.label :password, 'パスワード', class: "control-label" %>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password_confirmation, 'パスワード確認', class: "control-label" %>
            <div class="controls">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
        <% end %>
        <div class="form-actions">
          <%= f.submit "登録", class: "btn btn-primary", name: "commit" %>
        </div>
      </fieldset>
    <% end -%>
  </div>
  <div class="span4">
    <%= render :partial => "devise/shared/links" %>
    <div class="page-header">
      <h4>外部サービスを利用する</h4>
    </div>
    <%= render :partial => "services/service_links" %>
  </div>
</div>

