<div class="row">
  <div class="span8">
<script type="text/javascript">
    $(document).ready(function() {
        $("#mytags").tagit({
          availableTags: <%= Event.tag_counts.map(&:name).to_json.html_safe %> ,
          singleField: true,
          singleFieldNode: $('#tag_list')
          });
    });
</script>
    <%= form_for @event, html: {class: "form-horizontal"} do |f| %>
      <% if @event.errors.any? %>
        <div class="alert alert-block alert-error fade in">
          <h3><%= "エラーのため登録できませんでした" %></h3>
        </div>
      <% end %>
      <fieldset>
        <div class="control-group">
          <%= f.label :title, 'イベント名', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :title %>
            <p class="help-block">イベント名を登録してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :place, '会場', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :place %>
            <p class="help-block">会場を登録してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :address, '会場住所', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :address %>
            <p class="help-block">会場住所を登録してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :description, 'イベント内容', class: "control-label" %>
          <div class="controls">
            <%= f.text_area :description, class: "input-xxlarge", rows: "2" %>
            <p class="help-block">イベントの内容を記述してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :tag_list, 'タグ', class: "control-label" %>
          <div class="controls">
            <ul id="mytags"></ul>
            <p class="help-block">イベントに関する情報を入力してください</p>
          </div>
        </div>
        <%= f.hidden_field :tag_list, id: "tag_list" %>
        <div class="control-group">
          <%= f.label :start_time, '開始時間', class: "control-label" %>
          <div class="controls datetime">
            <%= f.datetime_select :start_time %>
            <p class="help-block">イベントの開始時間を登録してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :end_time, '修了時間', class: "control-label" %>
          <div class="controls datetime">
            <%= f.datetime_select :end_time %>
            <p class="help-block">イベントの修了時間を登録してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :url, 'URL', class: "control-label" %>
          <div class="controls">
            <%= f.url_field :url %>
            <p class="help-block">イベントのサイトがある場合は、URLを記述してください。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :fee, '料金', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :fee %>
            <p class="help-block">イベントの料金を記述してください。</p>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "登録", class: "btn btn-primary", name: "commit" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span4">
    <h2>イベントを登録</h2>
    <p>ユーザが興味のあることや今いる場所から探せるよう、イベント情報を登録してください。</p>
  </div>
</div>
