<% @title = @event.user.username %>
<div class="row">
  <div class="span4">
    <h2><%= @event.user.username %></h2>
    <br>
    <p>
    <%= link_to artist_image_tag(@event.user, ""), path_to_artist(@event.user.username),target:"_blank" %>
    </p>
    <% if user_signed_in? && current_user.id == @event.user.id -%>
      <%= link_to 'プロフィールを編集する', settings_profile_path %><br />
    <% end -%>
    <h3>自己紹介</h3>
    <p><%= Sanitize.clean( @event.user.biography, Sanitize::Config::RELAXED).html_safe %></p>
    <h3>ジャンル</h3>
    <p><%= @event.user.genre.name %></p>
    <% if @event.user.url.present? -%>
      <h3>ホームページ</h3>
      <p><%= link_to @event.user.url, @event.user.url, :target => "_blank" %></p>
    <% end -%>
    <h3>活動地域</h3>
    <% @event.user.areas.each do |tag| -%>
      <%= link_to tag.name, artists_path(:area_tag => tag.name) %>
    <% end -%>
    <h3>できること</h3>
    <% @event.user.skills.each do |tag| -%>
      <%= link_to tag.name, artists_path(:ability_tag => tag.name) %>
    <% end -%>
    <h3>してほしいこと</h3>
    <% @event.user.interests.each do |tag| -%>
      <%= link_to tag.name, artists_path(:interest_tag => tag.name) %>
    <% end -%>
    <h3>フリーワード</h3>
    <% @event.user.free_words.each do |tag| -%>
      <%= link_to tag.name, artists_path(:interest_tag => tag.name) %>
    <% end -%>
    <br />
  </div>

  <div class="span8">
    <h2><%= link_to @event.title, event_path %></h2>
    <p>
    <%= link_to @event.url, @event.url,:target => "_blank" if @event.url.present? %><br />
    <% if @event.tag_list.present? -%>
      <b>タグ: </b><%= @event.tag_list %><br />
    <% end -%>
    <b>会場:</b>
    <%= @event.place %><br />

    <b>会場住所:</b>
    <%= @event.address %><br />
    <%= static_google_map(@event) %><br />
    <b>開始時間:</b>
    <%= @event.start_time.to_s(:db) %><br />
    <b>終了時間:</b>
    <%= @event.end_time.to_s(:db) %><br />
    </p>
    <b>料金:</b>
    <%= @event.fee %><br />

    <p>Created at <%= @event.created_at.to_s(:db) %>
  <% if user_signed_in? && current_user.id == @event.user.id -%>
    | <%= link_to "編集", edit_event_path(@event) %> | <%= link_to "削除" ,event_path(@event), confirm: '本当に削除しますか？', method: :delete %>
<% end -%>
</p>
<div class="page-header", style="margin-top: 10px">
</div>
<p><%= @event.description if @event.description.present? %></p>
<div class="page-header", style="margin-top: 10px">
</div>
<b><%= @event.user.username %>のイベントを<%= link_to "もっと見る",artist_events_path(:username =>  @event.user.username) %></b>
<hr />
<% if @event.nearbys(10).present? %>
  <h3>近くのイベント</h3>
  <ul>
    <% for event in @event.nearbys(10) %>
      <li><%= link_to event.title, event  %> (<%= event.distance.to_i.round(2) %> miles)</li>
    <% end %>
  </ul>
  <hr />
<% end %>
<h3>Comments</h3>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="<%= request.url %>" num_posts="2" width="640"></fb:comments>
  </div>
</div>

