<% @title = "Contact" -%>
<div class="page-header">
  <h2>Contact Form <small>MuseumCreated.comに関するお問い合わせ</small></h2>
</div>
<div class="row">
  <div class="span8">
    <%= form_for @contact, url: contacts_path, html: {class: "form-horizontal"} do |f| %>
      <% if @contact.errors.any? %>
        <div class="alert alert-block alert-error fade in">
          <h3><%= "#{@contact.errors.count}つのエラーのため送信できませんでした" %></h3>
          <ul>
            <% @contact.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <fieldset>
        <div class="control-group">
          <%= f.label :email, 'メールアドレス', class: "control-label" %>
          <div class="controls">
            <%= f.email_field :email %>
            <p class="help-block">あなたのメールアドレスを記入してください。問い合わせの回答をお送りします。</p>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :message, '問い合わせ内容', class: "control-label" %>
          <div class="controls">
            <%= f.text_area :message, class: "input-xxlarge", rows: "10" %>
            <p class="help-block">問い合わせ内容をお書きください。</p>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "送信", class: "btn btn-primary", name: "commit" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span4">
    <h2>Contact Us</h2>
    <p>MuseumCreated.comへのご意見やご感想、ご質問をお送りください。</p>
  </div>
</div>
