<script type="text/javascript">
    $(document).ready(function() {
        $("#skill_tags").tagit({
          availableTags: <%= User.tag_counts_on(:skills).map(&:name).to_json.html_safe %> ,
          singleField: true,
          singleFieldNode: $('#skill_list')
          });

        $("#interest_tags").tagit({
          availableTags: <%= User.tag_counts_on(:interests).map(&:name).to_json.html_safe %> ,
          singleField: true,
          singleFieldNode: $('#interest_list')
          });
        
        $("#area_tags").tagit({
          availableTags: <%= User.tag_counts_on(:areas).map(&:name).to_json.html_safe %> ,
          singleField: true,
          singleFieldNode: $('#area_list')
          });

        $("#free_word_tags").tagit({
          availableTags: <%= User.tag_counts_on(:free_words).map(&:name).to_json.html_safe %> ,
          singleField: true,
          singleFieldNode: $('#free_word_list')
          });
    });
</script>
<%= render 'settings/profile_bar' %>
<div class="row">
  <div class="span12">
    <%= form_for(@user, :url => settings_update_path , :html => { :method => :put }) do |f| %>
      <% if @user.errors.any? -%>
        <div class="alert-message block-message error">
          <h3><%= "#{@user.errors.count}つのエラーのため保存できませんでした。" %></h3>
          <ul>
            <% @user.errors.full_messages.each do |msg| -%>
              <li><%= msg %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>
      <fieldset>
        <div class="clearfix">
          <%= f.label :name, 'アイコン' %>
          <div class="input">
            <%= artist_image_tag(current_user,"") %>
            <% if current_user.icon_service_name.blank? || current_user.services.find_by_provider(current_user.icon_service_name).blank? %>
            <%= link_to "アイコンの変更(Gravatar)","http://gravatar.com/emails/", :target => "_blank" %>
            <span class="help-block">MuseumCreated.comでは、<%= link_to "Gravatar","http://ja.gravatar.com/", :target => "_blank"%>を用いてアイコン表示をしています。<br />まだGravatarのアカウントをお持ちでない方は<%= link_to "こちら","http://ja.gravatar.com/site/signup/", :target => "_blank"%>から登録してください。また、外部のサービス(Facebook,Twitter)のプロフィール画像を利用する場合は、<%= link_to "こちら", settings_services_path %>から連携してください。</span><% end %>
            <% if current_user.services.present? %>
              <ul class="inputs-list">
                <li>
                  <label>
                    <input id="icon_service_name" <%= "checked" if current_user.icon_service_name.blank? %> type="radio" name="user[icon_service_name]" value="">
                    <span>Gravater(デフォルト)</span>
                  </label>
                </li>
              <% if current_user.services.find_by_provider("twitter").present? %>
                <li>
                  <label>
                    <input id="icon_service_name" <%= "checked" if current_user.icon_service_name == "twitter" %> type="radio" name="user[icon_service_name]" value="twitter">
                    <span>Twitterのプロフィール画像を使う</span>
                  </label>
                </li>
              <% end %>
              <% if current_user.services.find_by_provider("facebook").present? %>
                <li>
                  <label>
                    <input id="icon_service_name" <%= "checked" if current_user.icon_service_name == "facebook" %> type="radio" name="user[icon_service_name]" value="facebook">
                    <span>Facebookのプロフィール画像を使う</span>
                  </label>
                </li>
              <% end %>
              </ul>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :name, '名前' %>
          <div class="input">
            <%= f.text_field :name %>
            <span class="help-block">みんなが見つけられるように、普段使っているアーティスト名を入力しましょう。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :url, 'ホームページ' %>
          <div class="input">
            <%= f.url_field :url %>
            <span class="help-block">ホームページやブログをお持ちでしたら、ここにアドレスを入力してください。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :genre, 'ジャンル' %>
          <div class="input">
            <%= f.collection_select :genre_id, Genre.all, :id, :name %>
            <span class="help-block">あなたがアーティスト活動をしているジャンルを選んでください。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :skill_list, 'できること' %>
          <div class="input">
            <ul id="skill_tags" class="xxlarge" ></ul>
            <%= f.hidden_field :skill_list, :id => "skill_list" %>
            <span class="help-block">あなたができること、提供できる技術、スキルを記述ください。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :interest_list, 'してほしいこと' %>
          <div class="input">
            <ul id="interest_tags" class="xxlarge" ></ul>
            <%= f.hidden_field :interest_list, :id => "interest_list" %>
            <span class="help-block">あなたがしてほしいこと、コラボレーションしたい分野などを記述ください。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :area_list, '活動地域' %>
          <div class="input">
            <ul id="area_tags" class="xxlarge" ></ul>
            <%= f.hidden_field :area_list, :id => "area_list" %>
            <span class="help-block">あなたの活動地域を記述ください。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :free_word_list, 'フリーワード' %>
          <div class="input">
            <ul id="free_word_tags" class="xxlarge" ></ul>
            <%= f.hidden_field :free_word_list, :id => "free_word_list" %>
            <span class="help-block">あなたに関することを自由に記述ください。</span>
          </div>
        </div>
        <div class="clearfix">
          <%= f.label :biography, '自己紹介' %>
          <div class="input">
            <%= f.text_area :biography, :class => "xxlarge", :rows => "20", :id => "ckeditor" %>
            <script type="text/javascript">
              $(function() {
              CKEDITOR.config.toolbar = [
              ,['FontSize'],['TextColor','BGColor'],['Bold','Italic','Underline','Strike']
              ,['NumberedList','BulletedList','-','Outdent','Indent','Blockquote']
              ,['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],'/'
              ,['Link','Unlink']
              ,['Image','HorizontalRule','Smiley'],['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat']
              ,['Source','-','ShowBlocks','Preview']
              ];
              CKEDITOR.config.language = 'ja';
              CKEDITOR.config.width  = '530px';
              CKEDITOR.config.height = '300px';
              CKEDITOR.config.resize_enabled = false;
              CKEDITOR.replace('ckeditor');
              });
            </script>
            <span class="help-block">500文字以内で自己紹介してください。</span>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "更新", :class => "btn primary", :name => "commit" %>
        </div>
      </fieldset>
    <% end -%>
  </div>
  <div class="span4">
    <h2>プロフィール</h2>
    <p>この情報はあなたのプロフィールページに表示されます。自身の名前や自己紹介、自分ができることやコラボレーションする相手にやってほしいことなどを登録してください。</p>
  </div>
</div>
