<% @title = "help" %>
<div class="page-header">
  <h2>Help <small>サービス別の作品登録方法</small></h2>
</div>
<div class="row">
  <div class="span8">
    <a name="youtube"></a>
    <h3>Youtubeの登録方法</h3>
    <br />
    <p>
    <b>1.</b>Youtubeで該当動画の下にある「共有」をクリックします。すると、その下に共有のための画面が開きます。
    </p>
    <%= image_tag "youtube1.jpeg" %><br /><br />
    <p>
    <b>2.</b>ここに表示されたソースコードをコピーします。動画のサイズなどはその下で設定できます。
    </p>
    <%= image_tag "youtube2.jpeg", width:"500px" %><br /><br />
    <p>
    <b>3.</b>作品詳細の入力フォームで「ソース」をクリックすると、ソースコード入力フォームに変わりますので、2.でコピーしたソースコードを任意の位置にペーストします。</p>
    <%= image_tag "work_editor.png" %><br /><br />
    <%= link_to "Topへ", "#" %>
    <div class="page-header", style="margin-top: 10px"></div>

    <a name="niconico"></a>
    <h3>ニコニコ動画の登録方法</h3>
    <br />
    <p>
    <b>1.</b>ニコニコ動画で該当動画の右下にある「共有」をクリックします。すると、その下に共有のための画面が開きます。</p>
    <%= image_tag "niconiko1.png" %><br /><br />
    <p>
    <b>2.</b>埋め込む形式を選択！「外部プレイヤー」「動画サムネイルと詳細情報」どちらかを任意でチェックします。ここに表示されたソースコードをコピーします。
    </p>
    <%= image_tag "niconiko2.png" %><br /><br />
    <p>
    <b>3.</b>作品詳細の入力フォームで「ソース」をクリックすると、ソースコード入力フォームに変わりますので、2でコピーしたソースコードを任意の位置にペーストします。
    </p><%= image_tag "work_editor.png" %><br /><br />
    <%= link_to "Topへ", "#" %>
    <div class="page-header", style="margin-top: 10px"></div>

    <a name="soundcloud"></a>
    <h3>Sound Cloudの登録方法</h3>
    <br />
    <p>
    <b>1.</b>SoundCloudのプレイヤーの左上にある「Share」をクリックします。すると、その下に共有のための画面が開きます。
    </p>
    <%= image_tag "sc1.jpeg" %><br /><br />
    <p>
    <b>2.</b>ここに表示されたソースコードをコピーします。※プレイヤーをカスタマイズしたい場合は右の「Customize player」をクリックします。
    </p>
    <%= image_tag "sc2.png" %><br /><br />
    <p>
    <b>3.</b>作品詳細の入力フォームで「ソース」をクリックすると、ソースコード入力フォームに変わりますので、②でコピーしたソースコードを任意の位置にペーストします。
    </p><%= image_tag "work_editor.png" %><br /><br />
    <%= link_to "Topへ", "#" %>
    <div class="page-header", style="margin-top: 10px"></div>

    <a name="pixiv"></a>
    <h3>pixivの登録方法</h3>
    <br />
    <p>
    <b>1.</b>画像ページの右下にあるここのソースコードをコピーします。※画像サイズはその下の選択肢から選べます。
    </p>
    <%= image_tag "pixiv.png" %><br /><br />
    <p>
    <b>2.</b>作品詳細の入力フォームで「ソース」をクリックすると、ソースコード入力フォームに変わりますので、1でコピーしたソースコードを任意の位置にペーストします。
    </p><%= image_tag "work_editor.png" %><br /><br />
    <%= link_to "Topへ", "#" %>
    <div class="page-header", style="margin-top: 10px"></div>
  </div>

  <div class="span4">
    <div class="box">
      <h2>対応サービス</h2>
      <h3>動画作品</h3>
      <h4><%= link_to "Youtube", url_for("help#youtube") %></h4>
      <h4><%= link_to "ニコニコ動画", url_for("help#niconico") %></h4>
      <h3>音楽作品</h3>
      <h4><%= link_to "Sound Cloud", url_for("help#soundcloud") %></h4>
      <h3>画像作品</h3>
      <h4><%= link_to "pixiv", url_for("help#pixiv") %></h4>
    </div>
  </div>
</div>
