<% @title = "Search" %>
<div class="page-header">
  <h2>Detail Search<small> アーティストを条件に応じて検索しましょう</small></h2>
</div>
<div class="row">
  <div class="span8">
    <%= form_tag artists_path, method: "get", class: "form-horizontal" do %>
      <fieldset>
        <div class="control-group">
          <%= label_tag :search_word, '名前、自己紹介に' %>
          <div class="controls">
            <%= text_field_tag :search_word %> を含む
            <p class="help-block">名前、自己紹介の中に入っているキーワードから探します</p>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :interest_tag, 'あなたに' %>
          <div class="controls">
            <%= text_field_tag :interest_tag %> してほしい
            <p class="help-block">あなたにしてほしいことのキーワードから探します</p>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :skill_tag, '' %>
          <div class="controls">
            <%= text_field_tag :skill_tag %> ができる
            <p class="help-block">アーティストができることのキーワードから探します</p>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :area_tag, '活動地域が' %>
          <div class="controls">
            <%= text_field_tag :area_tag %> である
            <p class="help-block">アーティストの活動地域から探します</p>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :free_word_tag, 'フリーワードに' %>
          <div class="controls">
            <%= text_field_tag :free_word_tag %> を登録している
            <p class="help-block">アーティストが登録しているフリーワードから探します</p>
          </div>
        </div>
        <div class="form-actions">
          <%= submit_tag "アーティストを検索する", :class => "btn btn-primary" %>
        </div>
      </fieldset>
    <% end -%>
  </div>
  <div class="span4">
    <h2>詳細検索</h2>
    <p>複数の条件を組み合わせて検索できます。<br>アーティスの名前や自己紹介文、キーワードを入植し、希望のアーティスを検索してください。</p>
  </div>
</div>
