<%= form_for @project, html: {class: "form-horizontal"} do |f| %>
  <% if @project.errors.any? %>
    <div class="alert alert-block alert-error fade in">
      <h3><%= "#{@project.errors.count}つのエラーのため更新できませんでした。" %></h3>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :title, 'タイトル', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title, class: "input-xxlarge"%>
        <p class="help-block">プロジェクトのタイトルを入力してください</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, 'プロジェクト内容', class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description, class: "input-xxlarge", rows: "10" %>
        <p class="help-block">プロジェクトの内容を記述してください</p>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "更新", class: "btn btn-primary", name: "commit" %>
    </div>
  </fieldset>
<% end %>
