<%= form_for @offer, html: {class: "form-horizontal"} do |f| %>
  <% if @offer.errors.any? %>
    <div class="alert alert-block alert-error fade in">
      <h3><%= "#{@offer.errors.count}つのエラーのためオファーできませんでした" %></h3>
      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :artist, 'オファーする相手', class: "control-label" %>
      <div class="controls">
        <%= link_to artist_image_tag(@offer.offered_user,""), path_to_artist(@offer.offered_user.username) %>
        <%= link_to "#{@offer.offered_user.username}の作品を見る", artist_works_path(@offer.offered_user.username), target: "_blank" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :title, 'タイトル', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :title %>
        <p class="help-block">オファーのタイトルを入力してください。</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, 'オファー内容', class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description, class: "input-xxlarge", rows: "10" %>
        <p class="help-block">オファーの内容を記述してください。この内容を見て相手のアーティストはコラボレーションするか判断します。</p>
      </div>
    </div>
    <%= f.hidden_field :offered_user_id, value: @offer.offered_user_id %>
    <div class="form-actions">
      <%= f.submit "オファーする", class: "btn btn-primary", name: "commit" %>
    </div>
  </fieldset>
<% end %>
