<% @title = "Your Offers" -%>
<%= render 'profile_bar' %>
<div class="row">
  <div class="span16">
    <p>
      <%= link_to "すべて(#{current_user.offers.count})", :status => nil %> | 
      <%= link_to "未回答のオファー(#{current_user.offerings.unevaluated.count})", :status => Offer::UNEVALUATED %> | 
      <%= link_to "受諾されたオファー(#{current_user.offerings.accepted.count})", :status => Offer::ACCEPTED %> | 
      <%= link_to "拒否されたオファー(#{current_user.offerings.rejected.count})", :status => Offer::REJECTED %>
    </p>
    <% unless @offers.empty? -%>
      <table class="zebra-striped">
        <thead>
          <tr>
            <td>Artist</td>
            <td>タイトル</td>
            <td>概要</td>
            <td width=40>状態</td>
          </tr>
        </thead>
        <tbody>
          <% @offers.each do |offer| %>
            <tr>
              <td><%= link_to gravatar_image_tag(offer.offered_user.email,:width=>"15",:alt => offer.offered_user.username) + " " + offer.offered_user.username , path_to_artist(offer.offered_user.username) %></td>
              <td><%= offer.title %></td>
              <td><%= truncate(offer.description,:length => 80) %></td>
              <td><%= display_status(offer.status) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @offers %>
    <% else -%>
      <p>オファーはありません。</p>
    <% end -%>
  </div>
</div>

