<%= render 'profile_bar' %>
<div class="row">
  <div class="span5 columns">
    <h2><%= @offer.offerer_user.username %>からのオファー</h2>
    <br>
    <p>
      <%= link_to artist_image_tag(@offer.offerer_user, ""), path_to_artist(@offer.offerer_user.username),target:"_blank" %>
    </p>
    <h3>自己紹介</h3>
    <p><%= Sanitize.clean( @offer.offerer_user.biography, Sanitize::Config::RELAXED).html_safe %></p>
    <h3>ジャンル</h3>
    <p><%= @offer.offerer_user.genre.name %></p>
    <% if @offer.offerer_user.url.present? -%>
      <h3>ホームページ</h3>
      <p><%= link_to @offer.offerer_user.url,@offer.offerer_user.url,target:"_blank" %></p>
    <% end -%>
    <h3>活動地域</h3>
    <% @offer.offerer_user.areas.each do |tag| -%>
      <%= link_to tag.name, artists_path(:area_tag => tag.name) %>
    <% end -%>
    <h3>できること</h3>
    <% @offer.offerer_user.skills.each do |tag| -%>
      <%= link_to tag.name, artists_path(:ability_tag => tag.name) %>
    <% end -%>
    <h3>してほしいこと</h3>
    <% @offer.offerer_user.interests.each do |tag| -%>
      <%= link_to tag.name, artists_path(:interest_tag => tag.name) %>
    <% end -%>
    <h3>フリーワード</h3>
    <% @offer.offerer_user.interests.each do |tag| -%>
      <%= link_to tag.name, artists_path(:interest_tag => tag.name) %>
    <% end -%>
    <br />
  </div>
  
  <div class="span11 columns">
    <h2><%= link_to @offer.title, offer_path(@offer.id) %></h2>
    <p>
    <p>Offered at <%= @offer.created_at %></p>
    <div class="page-header", style="margin-top: 10px">
    </div>
    <p><%= @offer.description %></p>
    <div class="page-header", style="margin-top: 10px">
    </div>
    <p>現在のステータス：<%= display_status(@offer.status) %></p>
    <% if @offer.unevaluated? %>
      <p>このオファーを <%= link_to '受諾する', accept_offer_path(@offer.id), :class=>"btn learge success" %> <%= link_to '拒否する', reject_offer_path(@offer.id),:class=>"btn learge danger" %></p>
    <% end %>
  </div>
</div> 
