<div class="row">
  <div class="span8">
    <%= form_for @location, html: {class: "form-horizontal"} do |f| %>
      <% if @location.errors.any? %>
        <div class="alert alert-block alert-error fade in">
          <h3><%= "エラーのため登録できませんでした" %></h3>
        </div>
      <% end %>
  <fieldset>
    <div class="control-group">
      <%= f.label :address, '活動場所', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :address %>
        <p class="help-block">活動場所を登録してください。</p>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :note, '用途', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :note %>
        <p class="help-block">どのような活動に使っているかの情報を登録してください。</p>
      </div>
    </div>
        <div class="form-actions">
          <%= f.submit "登録", class: "btn btn-primary", name: "commit" %>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="span4">
    <h2>活動場所を登録</h2>
    <p>あなたが普段活動している場所を登録してください。<br />路上ライブしている場所や、よく使うライブハウス、アトリエ、シアターなどを登録しておくことで、あなたの活動場所を登録しておくことで、身近なファンがあなたに興味をもつかもしれません！</p>
  </div>
</div>
