<% @title = "Locations" -%>
<div class="page-header">
  <h2>Local Artists<small> あなたの身近なアーティストを探してください</small></h2>
  <%= form_tag locations_path,class: "well form-search", method: :get do %>
    <%= text_field_tag :search, params[:search], class: "input-xxlearge search-query", placeholder: "例: 渋谷、伊勢佐木町"%>
    <%= submit_tag "場所からアーティストを探す", name: nil, class: "btn" %>
  <% end %>
  <%= link_to "新しい活動地域を登録する", settings_locations_path if user_signed_in? %>
</div>
<div class="row">
  <div class="span12">
    <% if @locations.present? %>
      <div align="center">
        <%= gmaps4rails(@json) %>
      </div>
      <%= "<h2>#{params[:search]}の近くのアーティスト</h2>".html_safe if params[:search].present? %>
      <table class="table">
        <tr>
          <th>アーティスト</th>
          <th>活動場所</th>
          <th>活動内容</th>
        </tr>
        <% @locations.each do |location| %>
          <tr>
            <td><%= link_to location.user.username, path_to_artist(location.user.username) %></td>
            <td><%= location.address %></td>
            <td><%= location.note %></td>
          </tr>
        <% end -%>
      </table>
      <div class="page-header", style="margin-top: 10px">
      </div>
    <% else %>
      <div class="span12"><p>条件に該当するアーティストはいません</p></div>
    <% end %>
  </div>
</div>
