<%= render 'settings/profile_bar' %>
<%= render 'form' %>
<div class="row">
  <div class="span12">
    <% if current_user.locations.present? %>
      <table class="table">
        <tr>
          <th>活動場所</th>
          <th>活動内容</th>
          <th></th>
        </tr>
        <% current_user.locations.each do |location| %>
          <tr>
            <td><%= link_to location.address, location_path(location) %></td>
            <td><%= location.note %></td>
            <td><%= link_to "編集", edit_location_path(location), class: "btn" %> <%= link_to "削除", location, confirm: '本当に削除しますか？', method: :delete, class: "btn btn-danger"%></td>
          </tr>
        <% end -%>
      </table>

    <% end %>
  </div>
</div>
