<div class="footer">
  <div class="fill">
    <div class="container">
      <div class="row" id="footer_row">
        <div class="span7">
          <p><strong>MuseumCreated.com &copy; 2011</strong><br />
            All Rights Reserved.<br /></p>
        </div>
        <div class="span3">
          <b>Menues</b>
          <ul class="unstyled">
            <li><%= link_to "Top", root_path %></li>
            <li><%= link_to "Artists", artists_path %></li>
            <li><%= link_to "Works", works_path %></li>
            <li><%= link_to "Search", search_path %></li>
          </ul>
        </div>
        <div class="span3">
          <b>About Us</b>
          <ul class="unstyled">
            <li><%= link_to "What is Mu-cre?", about_path %></li>
            <li><%= link_to "Policy", policy_path %></li>
            <li><%= link_to "Copyright", copyright_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div>
        <div class="span3">
          <b>Account</b>
          <ul class="unstyled">
            <% if user_signed_in? -%>
              <li><%= link_to "設定", settings_profile_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path , :method => :delete %></li>
            <% else -%>
              <li><%= link_to "登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
