<div class="fill">
  <div class="container">
    <h3><%= link_to "MuseumCreated.com", root_path %></h3>
    <ul class="nav">
      <li><%= link_to "Artists", artists_path %></li>
      <li><%= link_to "Works", works_path %></li>
      <li><%= link_to "Search", search_path %></li>
    </ul>
    <%= form_tag(artists_path, :method => :get) do %>
      <%= search_field_tag :search_word ,nil,:placeholder => "Aartist Name or Keyword"%>
    <% end -%>
    <ul class="nav secondary-nav">
      <% if user_signed_in? -%>
        <li class="dropdown" data-dropdown="dropdown" >
        <%= link_to gravatar_image_tag(current_user.email ,:width=>"15",:alt => current_user.username) + " " + current_user.username , path_to_artist(current_user.username), class:"dropdown-toggle" %>
        <ul class="dropdown-menu">
          <li><%= link_to "My Page", path_to_artist(current_user.username) %></li>
          <li><%= link_to "My Offers <span class='label'>#{current_user.offers.unevaluated.count}</span>".html_safe, offers_path %></li>
          <li><%= link_to "My Projects", projects_path %></li>
          <li><%= link_to "My Works", artist_works_path(username:current_user.username) %></li>
          <li><%= link_to "設定" , settings_profile_path %></li>
          <li class="divider"></li>
          <li><%= link_to "ログアウト", destroy_user_session_path , :method => :delete %></li>
        </ul>
        </li>
      <% else -%>
        <li><%= link_to "登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div> <!-- /fill -->
