<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "application","http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ckeditor/ckeditor.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <%= render 'layouts/topbar' %>
  </div> <!-- /topbar -->
  <div class="container", style='margin-top: 40px'>
    <% if current_page?(root_path) -%>
      <%= render 'layouts/top_image' %>
    <% end -%>
    <% flash.each do |name, msg| -%>
      <div class="row", style='margin-top: 10px'>
      <%= display_flash(name,msg)%>
      </div>
    <% end -%>
    <%= yield %>
  </div> <!-- /container -->
  <footer>
    <%= render 'layouts/footer' %>
  </footer> <!-- /footer -->
  <%= debug(params) if Rails.env.development? %>
  <%= debug(session) if Rails.env.development? %>
</body>
</html>
